/* FORM STYLES */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.login-form input {
    padding: 14px;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    outline: none;
    background: #ffffff;
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.1);
}

.login-form input::placeholder {
    color: #9a8f6b;
}

.footer a {
    text-decoration: none;
    color: #7a6c4f;
    font-size: 13px;
}

.footer a:hover {
    text-decoration: underline;
}
